<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="maintenance-title">Liste de maintenance</h1>
        </div>
    </div>
    <table class="maintenance-table table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th class="header" id="reference">ID</th>
                <th class="header" id="reference">Référence</th>
                <th class="header" id="name">Nom</th>
                <th class="header" id="name">Type</th>
                <th class="header" id="periodic">Périodicité</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr class="line-hover">
                    <td><a href="{% url 'device-informations' device.id %}">{{device.id}}</a>
                    <td>{{device.reference}}</td>
                    <td>{{device.name}}</td>
                    <td>{{device.type}}</td>
                    <td>{{device.period}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-12 margin-side-25">
            <a target="_blank" href="/pyscada_admin/maintenancelist/maintenancedevice/add/">
                <div class="pull-right btn-circle-add-maintenance glyphicon glyphicon-plus zoom"></div>
            </a>
        </div>
    </div>
</div>
